 body {
                background-color:#c3f9df;
            }
            div.ex
            {
                position:absolute;
                left:17%;
                top: 10%;
                width:75%;
                padding:10px;
                border:5px solid gray;
                margin:0px;
            }
            div.painelBusca
            {
                position:absolute;
                left:5%;
                top: 20%;
                width:80%;
                height: 15%;
                padding:0px;
                border:5px solid gray;
                margin:0px;
                z-index: 2;
            }
            div.result
            {
                position:absolute;
                left:10%;
                top: 90%;
                width:15%;
                height: 95%;
                padding:0px;
                border:5px solid gray;
                margin:0px;
                z-index: 2;
            }
            div.add
            {
                position:absolute;
                left:80%;
                top: 35%;
                width:15%;
                height: 95%;
                padding:0px;
                border:5px solid gray;
                margin:0px;
                z-index: 2;
                overflow:auto;
            }
            div.logo
            {
                /*background-image: URL(imobiliarias/f.png);*/
                position:absolute;
                left: 5%;
                width:12%;
                height: 15%;
                border:5px solid gray;
                margin:0px;
            }
            #map-canvas {
                position:absolute;
                /*top: 35%;*/
                /*left: 5%;*/
                height: 95%;
                width: 60%;
                margin: 0px;
                padding: 0px;

                border:5px solid gray;
                margin:0px;
                z-index: 0;
            }