  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;

  }
  h2 {
      font-size: 24px;
      text-transform: capitalize;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
   
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      background-color: #4CAF50;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
      margin:0px;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #9DE0AD;
      font-size: 50px;
  }
  .logo {
      color: #9DE0AD;
      font-size: 200px;
  }
  .col-centered{
      float: none;
      margin: 0 auto;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #f4511e; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #9DE0AD !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #9DE0AD;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #43A047;
      z-index: 9999;
      border: 0;
      font-size: 14px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #9DE0AD !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
	
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #9DE0AD;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;	
      animation-duration: 1s;	
      -webkit-animation-duration: 1s;
      visibility: visible;			
  }
  @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }	
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }

  #main_mapa{
	margin:0px;
  }

  #googleMap{
	width:75%;
	height:520px;
  }

  #news_map{
	background-color: #43A047;
	width:25%;
	height:520px;
	padding:15px;
  }
  
  #new_dad {
	background-color: #43A047;
	height:520px;
	max-height: 520px;
	width:100%;
	

  }
  
  .news {
	padding:0px;
	margin: 1px 5px 10px 5px;
	border-style: groove;
	border-radius: 6px;
	box-shadow: 2px 2px 3px #444;
	width:96%;
	
  }
  
  .news figure{
	position: relative;
	border-bottom: 1px solid #449d48;
  }
  
  .news .img_denuncia{
  	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	width:100%;
	height:200px;

  }
  
  .news .img_news{
	position: absolute;
	right:10px;
	top:10px;
	width: 40px; 
    height: auto;
  } 

  .news figcaption{
	position: absolute;
	right:0px;
	bottom:0px;
	padding: 2px;
	margin: 6px;
	background-color: rgba(0,0,0,0.8);
	color: white;
	font-size: 12px;
  }
  
  .news p{
    font-size: 18px;
	color: 	white;
	padding: 2px;
	margin:0px;
  }

